body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    padding: 0 40px ;
    background-color: beige;
}

.logo-css{
    width: 50px;
    height: 50px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
}

.navlink{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.navmenu a{
    
    text-decoration: none;
    color: chocolate;
}
.navmenu a:hover{
    
   
    color: darkcyan;
}

.navmenu li{
    font-weight: 550;
    font-size: 14px;
    margin: 23px 0px;
    padding: 0px 13px;
}


#main{
    padding: 0 40px;

}

.about-section{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.about-section h1{
    color: darkgreen;
    text-align:left;
    margin-top: 0px;
}


.spani{
    color: darkkhaki;
}

.btn-buttonlink{
    border-radius: 10px;
    background-color: darkmagenta;
    padding: 20px 10px;
    font-size: 30px;
} 